<div class="outerZone">
    <div class="titleZone">
        <label>Receiver</label>
    </div>
    <div class="innerZone">
        <label class="gridLabel">Input a receiver-code, to acquire files : </label>
        <div class="grid">
            <input id="receiverCodeInput" type="text" placeholder="code-from-the-sender" onclick="clickReceiverField()" onkeydown="inputInReceiverField(event)" />
            <button id="receiverCodeButton" class="inputButton" style="float:left" onclick="receiverCodeButton('actions.RECEIVERCODE')">OK</button>
        </div>
        <div id="senderCodeContainer">
            <h4>
                Code for the sender : <br /><br />
                <label id="senderCode" bold>[ ]</label>
            </h4>
            <div></div>
        </div>
        <br />
        <div><label id="receiverFeedback"></label></div>
    </div>
</div>